@page "/products"
@using Inventory_Management_Software.Infrastructure.Repository
@using Inventory_Management_Software.Core.Entities
@using Inventory_Management_Software.Core.Interfaces
@using Inventory_Management_Software.Pages.Dialogs

@inject  IEfRepository<Product> ProductRepository
@inject IDialogService DialogService;
<h3>Products</h3>

<MudPaper Class="d-flex mb-2 justify-end flex-grow-1 gap-4" Elevation="0">
    <MudButton Variant="Variant.Outlined" OnClick="@(AddProduct)">NEW Product</MudButton>
</MudPaper>
<MudTable Items="@Elements" @bind-SelectedItem="@_selectedItem">
    <HeaderContent>
        <MudTh>
            SKU
        </MudTh>
        <MudTh>
            Name
        </MudTh>
        <MudTh>
            Description
        </MudTh>
    </HeaderContent>
    
    <RowTemplate>
        <MudTd DataLabel="SKU">
            @context.SKU
        </MudTd>
        <MudTd>
            @context.Name
        </MudTd>
        <MudTh>
            @context.Description
        </MudTh>
    </RowTemplate>

</MudTable>


@code {
    private Product _selectedItem;
    private IEnumerable<Product> Elements { get; set; } = new List<Product>();
    
    protected override async Task OnInitializedAsync()
    {
        Elements = await ProductRepository.ListAllAsync();
    }
    
    private async Task AddProduct()
    {
        var dialog = await DialogService.ShowAsync<AddProductDialog>("Add Product");
        var newProduct = await dialog.Result;
        
        if (newProduct != null)
        {
            Elements = await ProductRepository.ListAllAsync();
            StateHasChanged();
        }
    }
    
    
}